{% extends "account/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load crispy_forms_tags %}

{% block head_title %}Pending Users{% endblock %}

{% block extra_head %}
  <style>
    .table td {
      vertical-align: middle;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Pending users</h2>
  <p>These users are freshly registered and have no organisation assighed - thus may need manual action to be able to use the portal. If the {{ BID_NAME }} entered on registration correlates to existing organisation (already created in the Portal) you will be able to grant this user access to this organisation. If there is no such organisation it may be created. Users have no access to the Portal functionality while in this list.</p>

  {% autopaginate pending_users 50 %}

  <form action="#" method="POST" onSubmit="return confirm('Are you sure?')">
    {% csrf_token %}
    <div class="content-box items-list__table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Email</th>
              <th>Name</th>
              <th>Joined at</th>
              <th>{{ BID_NAME }} claimed</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for p_user in pending_users %}
              <tr>
                <td>{{ p_user.pk }}</td>
                <td>{{ p_user.email }}</td>
                <td>{{ p_user }}</td>
                <td>{{ p_user.date_joined }}</td>
                <td>{{ p_user.initial_business_id }}</td>
                <td>
                  {% if p_user.get_orgs_with_provided_bid %}
                    {# there is some org(s) with the same ABN as user entered #}
                    {% for org in p_user.get_orgs_with_provided_bid %}
                      <button class="btn btn-primary btn-sm" name="add_user_to" value="{{ p_user.pk }}_{{ org.pk }}" type="submit">Add to {{ org }} ({{ org.get_type_display }})</button><br/>
                    {% endfor %}
                  {% else %}
                    <button type="submit" class="btn btn-primary btn-sm" name="create_org_for_user" value="{{ p_user.pk }}">Create new organisation {{ p_user.initial_business_id }}</button>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% paginate %}
  </form>

  <br/>
</div>
{% endblock %}
