{% extends "account/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load crispy_forms_tags %}

{% block head_title %}Pending Users{% endblock %}

{% block content %}
<div class="container">
  <h1>Pending users list</h1>
  <p>These users are freshly registered and have no organisation assighed - thus may need manual action to be able to use the portal.</p>

  {% autopaginate pending_users 50 %}

  <form action="#" method="POST">
    {% csrf_token %}

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Email</th>
          <th>Name</th>
          <th>Joined at</th>
          <th>{{ BID_NAME }} claimed</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for p_user in pending_users %}
          <tr>
            <td>{{ p_user.pk }}</td>
            <td>{{ p_user.email }}</td>
            <td>{{ p_user }}</td>
            <td>{{ p_user.date_joined }}</td>
            <td>{{ p_user.initial_business_id }}</td>
            <td>
              {% if p_user.get_orgs_with_provided_bid %}
                {# there is some org(s) with the same ABN as user entered #}
                {% for org in p_user.get_orgs_with_provided_bid %}
                  <button class="btn btn-primary btn-sm" name="add_user_to" value="{{ p_user.pk }}_{{ org.pk }}" type="submit">Add to {{ org }} ({{ org.get_type_display }})</button><br/>
                {% endfor %}
              {% else %}
                There is no organisation with that ABN already created in the portal.
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% paginate %}
  </form>

  <br/>
</div>
{% endblock %}
