{% extends "account/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans 'Pending Role Requests' %}{% endblock %}

{% block extra_head %}
  <style>
    .table td {
      vertical-align: middle;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container">
  <h2>{% trans 'Pending Role Requests' %}</h2>
  <p>{% trans 'These roles were requested by users for their organisations, here you can approve or deny them.' %}</p>

  {% autopaginate pending_requests 50 %}

  <form action="#" method="POST" onSubmit="return confirm('Are you sure?')">
    {% csrf_token %}
    <div class="content-box items-list__table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{% trans 'Organisation' %}</th>
              <th>{% trans 'Created by/at' %}</th>
              <th>{% trans 'Role' %}</th>
              <th>{% trans 'Status' %}</th>
              <th>{% trans 'Evidence' %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for preq in pending_requests %}
              <tr>
                <td style="max-width: 200px">{{ preq.org }}</td>
                <td>
                  {{ preq.created_by.first_name }} {{ preq.created_by.last_name }} {{ preq.created_by.email }}<br/>
                  {{ preq.created_at }}
                </td>
                <td>{{ preq.get_role_display }}</td>
                <td>{{ preq.get_status_display }}</td>
                <td title="{{ preq.evidence }}">
                  {% if preq.evidence %}
                    <a href="{% url 'users:evidence-download' preq.pk %}">
                      {% trans 'Download' %}
                    </a>
                  {% endif %}
                </td>
                <td style="width: 300px">
                  <button type="submit" class="btn btn-success btn-sm" name="approve_request" value="{{ preq.pk }}">{% trans 'Approve' %}</button>

                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="{% trans 'Reject reason' %}" aria-label="Reject reason" name="reject_reason_{{ preq.pk }}">
                    <div class="input-group-append">
                      <button class="btn btn-danger btn-sm" name="reject_request" value="{{ preq.pk }}" type="submit">{% trans 'Reject' %}</button>
                    </div>
                  </div>
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="{% trans 'Evidence name' %}" aria-label="Evidence name" name="evidence_name_{{ preq.pk }}">
                    <div class="input-group-append">
                      <button class="btn btn-primary btn-sm" name="evidence_required" value="{{ preq.pk }}" type="submit">
                        {% if preq.evidence %}
                          {% trans 'Re-request evidence' %}
                        {% else %}
                          {% trans 'Request evidence' %}
                        {% endif %}
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% paginate %}
  </form>

  <br/>
</div>
{% endblock %}
