{% extends "base.html" %}
{% load static %}

{% block title %}My Profile{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">My Profile</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-6">
    <p>
      {% if not user.is_staff %}
        You are member of the next organisatons:<br/>
        <ul>
          {% for ms in user.orgmembership_set.all %}
            <li><strong>{{ ms.org }}</strong>: {{ ms.get_role_display }} (since {{ ms.since }})</li>
          {% empty %}
            <li>(None)</li>
          {% endfor %}
        </ul>
      {% else %}
        You are staff member and already have access to all organisations.
      {% endif %}
    </p>
    <p>To become a member of a new one - please login with the method supporting organisation assignment or request a staff member to assign them manually.</p>
  </div>
  <div class="col-xs-12 col-md-6">
    <a class="au-btn" href="{% url 'users:update' %}" role="button">Change my info</a>
    <br/>
    <a class="au-btn" href="{% url 'account_email' %}" role="button">E-Mail management</a>
    <br/>
    <a class="au-btn" href="{% url 'account_change_password' %}" role="button">Change password</a>
  </div>
  <div class="col-xs-12 col-md-6">
    {# ... #}
  </div>
</div>
{% endblock content %}

