{% extends "base.html" %}
{% load static %}

{% block title %}My Profile{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">My Profile</li>
{% endblock %}

{% block content %}
<div class="content-box profile">
  <div style="float: right">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Change my info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail management</a>
    <a class="btn btn-primary" href="{% url 'account_change_password' %}" role="button">Change password</a>
  </div>

  <table class="table table-bordered" style="width: 300px">
    <tbody>
      <tr>
        <th>Name</th>
        <td>{{ user }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <th>Mobile</th>
        <td>
          {% if user.mobile_number == user.verified_mobile_number %}
            {{ user.verified_mobile_number }} (verified)
          {% else %}
            {{ user.mobile_number }} (not verified)
          {% endif %}
        </td>
      </tr>
      {% if not user.orgmembership_set.all %}
        <tr>
          <th>{{ BID_NAME }}</th>
          <td>{{ user.initial_business_id }} (not verified)</td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  {% for org_ms in user.orgmembership_set.all %}
    <h1 class="page-title">{{ org_ms.org.name }} {% if org_ms.org == current_org %}(current){% endif %}</h1>
    <div class="profile-row">
      <div class="row">
        <div class="col-md-3">
          <h2 class="subtitle">Identity</h2>
        </div>
        <div class="col-md-9 profile-row__content">
          <div class="row mb-3">
            <div class="col-md-3">ABN</div>
            <div class="col-md-9"><a href="https://abr.business.gov.au/ABN/View?abn={{ org_ms.org.business_id }}" target="_blank">{{ org_ms.org.business_id }}</a></div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3">Domain name:</div>
            <div class="col-md-9"><a href="//{{ org_ms.org.dot_separated_id }}" target="_blank">{{ org_ms.org.dot_separated_id }}</a></div>
          </div>
          <div class="row">
            <div class="col-md-3">Verified:</div>
            <div class="col-md-9">
              {# <img src="{% static 'images/MyGovID_logo.svg' %}" alt="">#}
              Manually<br/>
              since {{ org_ms.since }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-row">
      <div class="row">
        <div class="col-md-3">
          <h2 class="subtitle">Authorised Roles</h2>
        </div>
        <div class="col-md-9 profile-row__content">
          {% if org_ms.org.is_trader %}
            <div class="row mb-3 user-row">
              <div class="col-md-3 user-row__name">Business (Trader):</div>
              <div class="col-md-9 user-row__content"><strong>Verified <i class="icon icon-check-circle"></i></strong>
                {% comment %}
                  <button type="button" class="btn btn-sm btn-outline-white btn-add-user-document">Verified manually</button>
                  <button type="button" class="btn btn-sm btn-outline-white btn-add-user-document">+ Add document</button>
                {% endcomment %}
              </div>
            </div>
          {% endif %}
          {% if org_ms.org.is_chambers %}
            <div class="row mb-3 user-row">
              <div class="col-md-3 user-row__name">Certification Authority:</div>
              <div class="col-md-9 user-row__content">
                <strong>Verified <i class="icon icon-check-circle"></i></strong>
              </div>
              <div class="col">
                <p class="authorised-roles__description">
                  Preferential Certificates of Origin<br/>
                  Non-Preferential Certificates of Origin
                </p>
              </div>
            </div>
          {% endif %}
          {% if org_ms.org.is_regulator %}
            <div class="row mb-3 user-row">
              <div class="col-md-3 user-row__name">Regulator:</div>
              <div class="col-md-9 user-row__content">
                <strong>Verified <i class="icon icon-check-circle"></i></strong>
              </div>
              <div class="col">
                <p class="authorised-roles__description">
                  Can view any document for that jurisdiction but can't create them.
                </p>
              </div>
            </div>
          {% endif %}

          {# any possible pending role requests for that org #}
          {% for req in org_ms.org.orgrolerequest_set.all %}
            {% if req.status != "approved" %}
              <div class="row mb-3 user-row">
                <div class="col-md-3 user-row__name">{{ req.get_role_display }}:</div>
                <div class="col-md-9 user-row__content">
                  <strong>{{ req.get_status_display }}</i></strong>
                  <button type="button" class="btn btn-sm btn-outline-white btn-add-user-document">+ Add document</button>
                </div>
                <div class="col">
                  <p class="authorised-roles__description">
                    {% if req.status == "requested" %}
                      The role has been requested and will be reviewed by our staff soon.
                    {% endif %}
                    {% if req.status == "evidence" %}
                      Please upload an evidence for that request.
                    {% endif %}
                  </p>
                </div>
              </div>
            {% endif %}
          {% endfor %}



          <a href="{% url 'users:role-request' %}" class="btn btn-primary btn-sm">Request a role</a>
        </div>
      </div>
    </div>
  {% empty %}
    You are not a member of any organisations.
    Please wait till the account approval or contart staff members for details.
  {% endfor %}

  {% comment %}
  <div class="profile-row">
    <div class="row">
      <div class="col-md-3">
        <h2 class="subtitle">IGL API Access</h2>
      </div>
      <div class="col-md-9 profile-row__content">
        <button type="button" class="btn btn-md btn-primary btn-profile-create-key">Create A Key</button>
        <div class="card card--key">
          <div class="card-header">
            <div class="igl-api-access-key">8WgbLik5EbdtJY4OWm2ZQ0tH…</div>
            <button type="button" class="btn btn-sm btn-outline-white btn-profile-regenerate-key"><i class="icon icon-refresh"></i>Regenerate this key</button>
          </div>
          <div class="card-body">
            <div class="card-title">Scope</div>
            <p class="card-text">Consignment references</p>
          </div>
        </div>
        <div class="card card--key">
          <div class="card-header">
            <div class="igl-api-access-key">8WgbLik5EbdtJY4OWm2ZQ0tH…</div>
            <button type="button" class="btn btn-sm btn-outline-white btn-profile-regenerate-key"><i class="icon icon-refresh"></i>Regenerate this key</button>
          </div>
          <div class="card-body">
            <div class="card-title">Scope</div>
            <p class="card-text">Consignment references</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}

  {% comment %}
    <div class="form-actions form-actions--bordered">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  {% endcomment %}
</div>
{% endblock content %}
