{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Profile update{% endblock %}


{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'users:detail' %}">My Profile</a></li>
  <li class="breadcrumb-item active" aria-current="page">Update</li>
{% endblock %}

{% block inner %}
  <h1>{% trans "Profile update" %}</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </form>
{% endblock %}

{% block extra_script %}
  <script>
    {% if BID_NAME == "ABN" %}
      $("#id_initial_business_id").keyup(function() {
        let val = $("#id_initial_business_id").val().replace(/\s/g, "");
        if (val.length == 11) {
          // could be full ABN entered
          let hint = $("#hint_id_initial_business_id");
          hint.addClass('abn-info')
          hint.html("Loading ABN info...");
          $.ajax({
            dataType: "json",
            url: '/documents/api/abn-lookup/?abn=' + val,
            data: null,
            success: function(resp) {
              hint.html(resp.snippet);
            }
          });
        }
      });
    {% endif %}
  </script>
{% endblock %}