{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Profile update{% endblock %}


{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'users:detail' %}">My Profile</a></li>
  <li class="breadcrumb-item active" aria-current="page">Update</li>
{% endblock %}

{% block inner %}
  <h1>{% trans "Profile update" %}</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </form>
{% endblock %}
