<!doctype html>
<html lang="en">

{% load static %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}Trade Portal{% endblock %}</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{% static 'css/tradeportal.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Trade Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"> {#  active #}
              <a class="nav-link" href="/">Home</a>
              {# <span class="sr-only">(current)</span> #}
            </li>
            {% if not request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/accounts/login/">Login</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'documents:list' %}">Documents</a>
              </li>
              {% if request.user.is_staff %}
                <li class="nav-item">
                  <a class="nav-link" href="/admin/" target="_new">Admin</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="/logout/">Logout</a>
              </li>
            {% endif %}
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/profile/">{{ user }}</a>
              </li>
            {% endif %}
          </ul>

          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="ml-3">&times;</span></button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}{% endblock %}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Trade Portal, tradetrust</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    {# <script src="../../assets/js/vendor/popper.min.js"></script> #}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
    {% block extra_script %}{% endblock %}
  </body>
</html>
