<!doctype html>
<html lang="en" class="h-100">

{% load i18n %}
{% load static %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}{% block title %}{{ BRANDING_TITLE }}{% endblock %} ({{ ICL_APP_COUNTRY }}){% endblock %}</title>

    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}
    {% if ICL_APP_COUNTRY == "SG" %}
      <style>
        a {
          color: #c22;
        }
        h2.subtitle.section-info__title {
          color: #822;
        }
        span.header__logo-text {
          color: #822;
        }
      </style>
    {% endif %}
  </head>

  <body class="d-flex flex-column {% block body_class %}{% endblock %}{% if request.user.is_authenticated %} authenticated{% endif %}">
    <header class="header {% block header_class %}{% endblock %}">
      <div class="header__container">
        <div class="header__main-menu">
          <button class="header__menu-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon icon-menu"></span> <span class="header__menu-toggler-text">Menu</span>
          </button>
        </div>
        <a class="header__logo" href="/">
          {% if ICL_APP_COUNTRY == "AU" %}
            <img src="{% static 'images/logoAU.svg' %}" alt="{% trans 'Trade Portal' %}" class="header__logo-image header__logo-image--default" />
            <img src="{% static 'images/logo-whiteAU.svg' %}" alt="{% trans 'Trade Portal' %}" class="header__logo-image header__logo-image--white" />
          {% else %}{% if ICL_APP_COUNTRY == "SG" %}
            <img src="{% static 'images/logoSG.svg' %}" alt="{% trans 'Trade Portal' %}" class="header__logo-image header__logo-image--default" style="border: 1px solid gray" />
            <img src="{% static 'images/logo-whiteSG.svg' %}" alt="{% trans 'Trade Portal' %}" class="header__logo-image header__logo-image--white"/>
          {% endif %}
          {% endif %}
          <span class="header__logo-text">{% trans BRANDING_TITLE %}</span>
        </a>
        <div class="header__nav">
          <div class="header__nav-actions">
            {% if request.user.is_authenticated %}
              <div class="header__user">
                <div class="header__user-name">
                  {{ user }}
                  {% if user.is_superuser %}({% trans 'Superuser' %}){% endif %}
                </div>
                {% if current_org %}
                  <div class="header__user-org">{{ current_org.name }} ({{ current_org.get_type_display }})</div>
                {% endif %}
              </div>
            {% else %}
              <a href="/accounts/signup/" class="btn btn-primary header__nav-btn header__nav-btn--register">{% trans 'Register' %}</a>
              <a href="/accounts/login/" class="btn btn-primary header__nav-btn header__nav-btn--login">{% trans 'Login' %}</a>
            {% endif %}
          </div>
          <div class="site-nav__overlay"></div>
          <div class="collapse site-nav" id="mainMenu">
            <div class="site-nav__header">
              <button class="site-nav__close" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon icon-close"></span>
              </button>
            </div>
            <ul class="site-nav__list">
              <li class="site-nav__item"> {#  active #}
                <a class="site-nav__item-link" href="/">{% trans 'Home' %}</a>
              </li>
              <li class="site-nav__item">
                <a class="site-nav__item-link" href="/help/">{% trans 'Help' %}</a>
              </li>
              {% if not request.user.is_authenticated %}
                <li class="site-nav__item">
                  <a class="site-nav__item-link" href="/accounts/login/">{% trans 'Login' %}</a>
                </li>
                <li class="site-nav__item">
                  <a class="site-nav__item-link" href="/accounts/signup/">{% trans 'Register' %}</a>
                </li>
              {% else %}
                <li class="site-nav__item">
                  <a class="site-nav__item-link" href="{% url 'documents:list' %}"> {% trans 'Documents' %}</a>
                  {% if request.user.is_staff %}
                    <li class="site-nav__item">
                      <a class="site-nav__item-link" href="/admin/" target="_new">{% trans 'Admin Panel' %}</a>
                    </li>
                    <li class="site-nav__item">
                      <a class="site-nav__item-link" href="{% url 'monitoring:index' %}">{% trans 'Monitoring' %}</a>
                    </li>
                  {% endif %}
                  <li class="site-nav__item">
                    <a class="site-nav__item-link" href="/profile/">{{ user }}</a>
                  </li>
                  {% if request.user.is_superuser %}
                    <li class="site-nav__item">
                      <a class="site-nav__item-link" href="{% url 'users:pending' %}">{% trans 'Pending Users' %}</a>
                    </li>
                    <li class="site-nav__item">
                      <a class="site-nav__item-link" href="{% url 'users:roles-requests' %}">{% trans 'Roles Requests' %}</a>
                    </li>
                  {% endif %}
                  <li class="site-nav__item">
                    <a class="site-nav__item-link" href="/logout/">{% trans 'Logout' %}</a>
                  </li>
                </li>
              {% endif %}
              <li class="site-nav__org">
                <form action="{% url 'users:change-org' %}?next={{ request.path_info }}" id='id-current-org-form' method="POST" style="margin: 0px">
                  {% csrf_token %}
                  {% if user.orgs %}
                    <span>
                      <select class="form-control" onChange="$('#id-current-org-form').submit()" name="current_org">
                        {% for org in user.orgs %}
                          <option value="{{ org.pk }}" {% if org.id == current_org.id %}selected{% endif %}>{{ org }} ({{ org.get_type_display }})</option>
                        {% endfor %}
                      </select>
                    </span>
                  {% else %}
                    {% if user.is_staff %}
                      <span style="color: white">{% trans 'Staff member' %}</span>
                    {% endif %}
                  {% endif %}
                </form>
              </li>
              <li class="site-nav__org">
                <form action="{% url 'set_language' %}" method="post" id="id_lang_form" style="margin: 0px">{% csrf_token %}
                  <input name="next" type="hidden" value="{{ request.path_info }}">
                  <select  class="form-control" name="language" onChange="$('#id_lang_form').submit()">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                      <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                      </option>
                    {% endfor %}
                  </select>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <div class="header__account-nav account-nav">
        <div class="account-nav__container">
          <ul class="account-nav__list">
            <li class="account-nav__item">
              <a class="account-nav__item-link{% if request.resolver_match.view_name == 'documents:list' %} active{% endif %}" href="{% url 'documents:list' %}">{% trans 'Documents' %}</a>
            </li>
            <li class="account-nav__item">
              <a class="account-nav__item-link {% if request.resolver_match.view_name == 'users:detail' %} active{% endif %}" href="/profile/">{% trans 'Profile' %}</a>
            </li>
            {% if request.user.is_superuser %}
              <li class="account-nav__item">
                <a class="account-nav__item-link {% if request.resolver_match.view_name == 'users:pending' %} active{% endif %}" href="{% url 'users:pending' %}">{% trans 'Pending Users' %}</a>
              </li>
              <li class="account-nav__item">
                <a class="account-nav__item-link {% if request.resolver_match.view_name == 'users:roles-requests' %} active{% endif %}" href="{% url 'users:roles-requests' %}">{% trans 'Roles Requests' %}</a>
              </li>
            {% endif %}
          </ul>
          <ul class="account-nav__list">
            <li class="account-nav__item">
              <a class="account-nav__item-link" href="/logout/">{% trans 'Logout' %}</a>
            </li>
          </ul>
        </div>
      </div>
      {% endif %}
    </header>

    <!-- Begin page content -->
    <main role="main" class="page-main">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="ml-3">&times;</span></button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      {% if current_org and not current_org.has_roles %}
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" class="ml-3">&times;</span></button>
          The organisation you selected has no roles assigned. Please request them<br/>
          <a href="/profile/#roles" class="btn btn-primary btn-sm">Request roles</a>
          <a href="/help/roles/" class="btn btn-primary btn-sm">Read the documentation</a>
        </div>
      {% endif %}

      <div class="{% block main-container %}container-fluid{% endblock %}">
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer class="footer mt-auto">
      <div class="footer__logo">
        {% if ICL_APP_COUNTRY == "AU" %}
          <img src="{% static 'images/footer-logoAU.png' %}" alt="" />
        {% endif %}
        {% if ICL_APP_COUNTRY == "SG" %}
          <img src="{% static 'images/footer-logoSG.png' %}" alt="" />
        {% endif %}
      </div>
      <div class="footer-menu footer__menu">
        <ul class="footer-menu__list">
          <li class="footer-menu__item"><a href="#" class="footer-menu__item-link">{% trans 'Who we are' %}</a></li>
          <li class="footer-menu__item"><a href="#" class="footer-menu__item-link">{% trans 'Our Ministers' %}</a></li>
          <li class="footer-menu__item"><a href="#" class="footer-menu__item-link">{% trans 'Careers' %}</a></li>
          <li class="footer-menu__item"><a href="/about/" class="footer-menu__item-link">{% trans 'About us' %}</a></li>
          <li class="footer-menu__item"><a href="#" class="footer-menu__item-link">{% trans 'Contact us' %}</a></li>
        </ul>
      </div>
      <div class="footer__copyright"><p class="footer__copyright-text">{% trans 'Copyright Department of Home Affairs' %} &copy; 2020</p></div>
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block extra_script %}{% endblock %}
  </body>
</html>
