.documents-list {
  &__search {
    margin: 0 0 20px 0;

    .btn-search {
      border-top-right-radius: $border-radius !important;
      border-bottom-right-radius: $border-radius !important;
      font-size: 20px;
      height: $input-height;
    }

  }

  &__table {
    .qr-btn {
      display: block;
      color: $dark-blue-color;
      cursor: pointer;
    }
  }

}

.qr-code__image {
  width: 104px;
  height: 104px;
}