{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load our_utils %}

{% block title %}{% trans 'Monitoring' %}{% endblock %}

{% block content %}
<div class="content-box">
  <h1 class="page-title">{% trans 'Monitoring' %}</h1>

  <div class="row">
    <div class="col col-lg-6">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Total documents (certificates) issued</th>
            <td>{{ total_documents_issued }}</td>
          </tr>
          <tr>
            <th>Total documents draft</th>
            <td>{{ total_documents_draft }}</td>
          </tr>
          <tr>
            <th>Total documents failed</th>
            <td>{{ total_documents_failed }}</td>
          </tr>
          <tr>
            <th>Total documents validated</th>
            <td>{{ total_documents_validated }}</td>
          </tr>
          <tr>
            <th>Total parties for our jurisdiction</th>
            <td>{{ total_parties }}</td>
          </tr>
          <tr>
            <th>Users</th>
            <td>{{ base_metrics.number_of_users }}</td>
          </tr>
          <tr>
            <th>Organisations</th>
            <td>{{ base_metrics.number_of_orgs }}</td>
          </tr>
          <tr>
            <th>Logins</th>
            <td>{{ base_metrics.logins_number_success }}</td>
          </tr>
          <tr>
            <th>Failed logins</th>
            <td>{{ base_metrics.logins_number_failed }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col col-lg-6">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Verifications, as file</th>
            <td>{{ verifications_file }}</td>
          </tr>
          <tr>
            <th>Verifications, QR</th>
            <td>{{ verifications_qr }}</td>
          </tr>
          <tr>
            <th>Verifications, Link</th>
            <td>{{ verifications_link }}</td>
          </tr>
          <tr>
            <th colspan="2" style="text-align: center">
              <a href='/admin/monitoring/verificationattempt/' class="btn btn-sm btn-primary">See the full list</a>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
