{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}{% trans "Consignment Update" %}{% endblock %}

{% block content %}
<div class="content-box">
  <div class="document-form">
    <h1 class="page-title">{% trans "Update" %} {{ form.instance.get_type_display }}</h1>

    <form method="POST" enctype="multipart/form-data" onSubmit="return confirm('Are you sure?')">
      {% csrf_token %}
      {% if form.errors %}
        <div class="alert alert-danger">{% trans "Please fix the errors highlighted below" %}</div>
      {% endif %}

      <fieldset class="form-section">
        <div class="subtitle form-section__title">{% trans "Consignment Reference" %}</div>

        <div class="form-section__container">
          <div class="form-group">
            <label for="consignmentDocIssuer">
              {% trans 'Document Number' %}
              <span class="help-icon" data-toggle="tooltip" title="{% trans 'Consignment details' %}"><i class="icon icon-info"></i></span>
            </label>
            <div class="input-group">
              {{ form.consignment_ref_doc_number }}
            </div>
          </div>
        </div>

      </fieldset>

      <div class="form-actions">
        <a href="../" class="btn btn-dark">{% trans 'Cancel' %}</a>
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
