{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create document{% endblock %}

{% block extra_head %}
<style>
  textarea {
    max-height: 100px;
  }
</style>
{% endblock %}

{% block content %}
<div class="content-box">
  <h1>Create document</h1>
  <h2>Issuer: {{ current_org }}</h2>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    {{ form|crispy }}

    {% comment %}
    for per-field basis:
        {{ form.item_no|as_crispy_field }}
      ...
      {% endcomment %}

      <div class="form-actions">
        <a class="btn btn-default ml-3" href="../">Cancel</a>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
  </form>
</div>
{% endblock content %}

{% block extra_script %}
  <script>
    $("#id_exporter").keyup(function() {
      let val = $("#id_exporter").val().replace(/\s/g, "");
      if (val.length == 11) {
        // could be full ABN entered
        let hint = $("#hint_id_exporter");
        hint.html("Loading ABN info...");
        $.ajax({
          dataType: "json",
          url: '/documents/api/abn-lookup/?abn=' + val,
          data: null,
          success: function(resp) {
            hint.html(resp.snippet);
          }
        });
      }
    });

    $("#id_fta").change(function() {
      var protocol = $( "#id_fta option:selected" ).text();
      $("#id_importing_country option").each(function() {
        var $sel = $(this);
        if ($sel.text().indexOf(protocol) !== -1) {
          $sel.show();
        } else {
          $sel.hide();
        }
      });
      $("#id_importing_country").prop('selectedIndex', -1);
    });
    $("#id_fta").change();
  </script>
{% endblock %}