{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create document{% endblock %}

{% block extra_head %}
<style>
  textarea {
    max-height: 100px;
  }
</style>
{% endblock %}

{% block content %}
<div class="content-box">
  <h1>Create document</h1>
  <h2>for {{ current_org }}</h2>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    {{ form|crispy }}

    {% comment %}
    for per-field basis:
        {{ form.item_no|as_crispy_field }}
      ...
      {% endcomment %}

      <div class="form-actions">
        <a class="btn btn-default ml-3" href="../">Cancel</a>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
  </form>
</div>
{% endblock content %}
