{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Create document{% endblock %}

{% block extra_head %}
<style>
  textarea {
    max-height: 100px;
  }
</style>
{% endblock %}

{% block content %}
<div class="content-box">
  <div class="document-form">
    <h1 class="page-title">New Document</h1>
    {% comment %}
    <h2>Issuer: {{ current_org }}</h2>
    {% endcomment %}

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.errors }}

      <fieldset class="form-section form-section--first">
        <div class="form-section__container">
          {{ form.type|as_crispy_field }}
        </div>
      </fieldset>

      <fieldset class="form-section">
        <div class="form-section__title">Document Metadata</div>

        <div class="form-section__container">

          {{ form.document_number|as_crispy_field }}

          <div class="form-group">
            <div class="label">IGL Document ID <span class="help-icon" data-toggle="tooltip" title="IGL Document ID"><i class="icon icon-info"></i></span></div>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#igl-doc-key">Key</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#igl-doc-qrcode">QR Code</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="igl-doc-key">
                <div class="input-group">
                  <input type="text" class="form-control" readonly value="8WgbLik5EbdtJY4OWm2ZQ0tHiU2lmvXNVrPhFDz3W2Y=" id="igl-doc-key-input">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary" id="copy-button" onclick="copyToClipboard('igl-doc-key-input')"><i class="icon icon-copy"></i></button>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="igl-doc-qrcode">
                <div class="qrcode-box">
                  <div class="qrcode-box__picture">
                    <img class="igl-doc-qrcode__image" src="{% static 'images/qr-code.svg' %}" alt="">
                  </div>
                  <div class="qrcode-box__content">
                    <p class="qrcode-box__description">Put this QR code on your document so that any third party can verify it using the trustbridge app</p>
                    <a class="btn btn-outline-white btn-sm qrcode-box__print" href="#"><i class="icon icon-print"></i>Print</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {{ form.fta|as_crispy_field }}

          {{ form.importing_country|as_crispy_field }}

          {{ form.exporter|as_crispy_field }}

          {{ form.importer_name|as_crispy_field }}

          {{ form.invoice_number|as_crispy_field }}

          {{ form.origin_criteria|as_crispy_field }}

        </div>
      </fieldset>

      <fieldset class="form-section">
        <div class="form-section__title">Consignment Ref (if know)</div>

        <div class="form-section__container">

          <div class="form-group">
            <label for="consignmentDocNumber">Document Number</label>
            <input type="text" class="form-control" id="consignmentDocNumber">
          </div>

          <div class="form-group">
            <label for="consignmentDocType">Document Type</label>
            <select name="consignment_doc_type" class="form-control" id="consignmentDocType">
              <option>ConNote</option>
              <option>HouseBill</option>
              <option>MasterBill</option>
            </select>
          </div>

          <div class="form-group">
            <label for="consignmentDocIssuer">Document Issuer</label>
            <div class="input-group">
              <input type="text" class="form-control" id="consignmentDocIssuer">
              <div class="input-group-append">
                <button class="btn btn-primary btn-search" type="button"><i class="icon icon-search"></i></button>
              </div>
            </div>
          </div>
        </div>

      </fieldset>

      <fieldset class="form-section">
        <div class="form-section__title">Attachment</div>
        {{ form.file|as_crispy_field }}
      </fieldset>

      <fieldset class="form-section">
        <div class="form-section__title">Document Declaration</div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="declaration">
          <label class="form-check-label" for="declaration">I certify that the information herein is correct and that the described goods comply with the origin requirements of the specified Free Trade Agreement.</label>
        </div>

      </fieldset>

      {% comment %}
      {{ form|crispy }}
      for per-field basis:
          {{ form.item_no|as_crispy_field }}
        ...
        {% endcomment %}

        <div class="form-actions">
          <button type="button" class="btn btn-dark">Save as draft</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
  </div>
</div>
{% endblock content %}

{% block extra_script %}
  <script>
    $("#id_exporter").keyup(function() {
      let val = $("#id_exporter").val();
      if (val.length == 11) {
        // could be full ABN entered
        let hint = $("#hint_id_exporter");
        hint.html("Loading ABN info...");
        $.ajax({
          dataType: "json",
          url: '/documents/api/abn-lookup/?abn=' + val,
          data: null,
          success: function(resp) {
            hint.html(resp.snippet);
          }
        });
      }
    });
  </script>
{% endblock %}