{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load our_utils %}

{% block title %}{% trans 'Document' %} #{{ object.document_number }}{% endblock %}

{% block content %}
<div class="content-box">
  <h1 class="page-title">{% if object.is_incoming %}{% trans 'Incoming' %}{% endif %} {{ object.get_type_display }} {{ object.document_number }}</h1>

  <div class="row" style="background-color: whitesmoke; padding: 10px">
    <div class="col">
      <strong>Digital Verifiable Document</strong><br/>
      Status: <span class="badge badge-success">{{ object.get_verification_status_display }}</span> {# TODO #}<br/>
      {% blocktrans %}
      The ABF has verified your document and added a digital proof. The PDF with QR can be sent to any party that normally requires the document. Authenticity can be verified simply by scanning the QR. The VC (Verifiable Credential) is the native digital version of the document and may be sent to any party that wishes to automate processing and verification.
      {% endblocktrans %}
      <br/>

      {% for doc in object.files.all %}
        {% if doc.extension and doc.extension != "?" %}
          <a href="{% url 'documents:file-download' object.id doc.id %}" class="btn btn-primary btn-sm" style="width: 150px">
            Download {{ doc.extension }}
            {% if doc.is_watermarked == False %}<small>(processing...)</small>{% endif %}
          </a>
        {% endif %}
      {% endfor %}
      {% if document.get_vc %}
        <a href="{% url 'documents:oa-download' object.id %}" class="btn btn-primary btn-sm" style="width: 150px">Download VC</a>
      {% else %}
        <a href="#" class="btn btn-secondary btn-sm" disabled style="width: 150px" title="{% trans 'Just a moment, we are preparing your document...' %}">Download VC</a>
      {% endif %}
    </div>
    <div class="col">
      <strong>Inter-Government Message</strong><br/>
      Status: {{ object.get_status_display }}<br/>
      {% blocktrans %}
      <p>The ABF has established direct government-to-government channels with some other government for some document types. Where such a channel exists, your document will also be sent directly to the importing government. This can help to facilitate / streamline import clearance processes</p>
      {% endblocktrans %}
      <a href="logs/" class="btn btn-primary btn-sm" style="width: 150px">Logs</a><br/>
    </div>
  </div>

  <br/><br/>

  {% if not object.is_incoming %}
    <div class="form-group">
      <div class="label">{% trans 'IGL Document ID' %} <span class="help-icon" data-toggle="tooltip" title="IGL Document ID"><i class="icon icon-info"></i></span></div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#igl-doc-key">{% trans 'Key' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#igl-doc-qrcode">{% trans 'QR Code' %}</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade" id="igl-doc-key">
          <div class="input-group">
            <input type="text" class="form-control" readonly value="{{ object.oa.url_repr }}" id="igl-doc-key-input">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary" id="copy-button" onclick="copyToClipboard('igl-doc-key-input')"><i class="icon icon-copy"></i></button>
            </div>
          </div>
        </div>
        <div class="tab-pane fade show active" id="igl-doc-qrcode">
          <div class="qrcode-box">
            <div class="qrcode-box__picture">
              <img class="igl-doc-qrcode__image" src="data:image/png;base64,{{ object.oa.get_qr_image_base64 }}" alt="{{ object.oa.url_repr }}" style="width: 100px">
            </div>
            <div class="qrcode-box__content">
              <p class="qrcode-box__description">{% trans 'Put this QR code on your document so that any third party can verify it using the trustbridge app' %}</p>
              <!-- <a class="btn btn-outline-white btn-sm qrcode-box__print" href="#"><i class="icon icon-print"></i>Print</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="section-info">
    <dl class="info-list">
      <dt>{% trans 'Document Type' %}</dt>
      <dd>{{ object.get_type_display|default:"(unknown)" }}</dd>
      <dt>{% trans 'Current status' %}</dt>
      <dd>{{ object.get_status_display|default:"(unknown)" }}</dd>
      <dt>{% trans 'Issuer' %}</dt>
      <dd>
        {{ object.issuer.name }}<br/>
        {% if object.issuer.register_url %}
          {{ object.issuer.readable_identifier_name }}: <a href="{{ object.issuer.register_url }}" target="_blank">{{ object.issuer.business_id }}</a>
        {% endif %}
      </dd>
      <dt>{% trans 'Created by' %}</dt>
      <dd>
        {% if object.is_incoming %}{% trans 'Remote party' %}{% else %}
          <strong>{{ object.created_by_user.email|default:object.created_by_user }}</strong> {% trans 'user' %}<br/>
          at <strong>{{ object.created_by_org }}</strong>
        {% endif %}
      </dd>
      <dt>{% trans 'Created at' %}</dt>
      <dd>{{ object.created_at }} {{ object.created_at.tzinfo }}</dd>
    </dl>
  </div>
  <div class="row">
    <div class="col">
      <div class="section-info">
        <div class="subtitle section-info__title">{% trans 'Document metadata' %}</div>
        <dl class="info-list">
          <dt>{% trans 'Doc number' %}</dt>
          <dd>{{ object.document_number|default:"(not specified)" }}</dd>
          {% if not document.is_incoming %}
            <dt>{% trans 'IGL Document ID' %}</dt>
            <dd>
              {{ object.pk }}
            </dd>
          {% endif %}
          <dt>{% trans 'FTA' %}</dt>
          <dd>{{ object.fta }}</dd>
          <dt>{% trans 'Exporting country' %}</dt>
          <dd>{{ object.sending_jurisdiction.name }}</dd>
          <dt>{% trans 'Importing country' %}</dt>
          <dd>{{ object.importing_country.name }}</dd>
          <dt>{% trans 'Exporter' %}</dt>
          <dd>
            {% trans 'Entity' %}: {{ object.exporter.name }}<br/>
            {% if object.exporter.register_url %}
              {{ object.exporter.readable_identifier_name }}: <a href="{{ object.exporter.register_url }}" target="_blank">{{ object.exporter.business_id }}</a>
            {% endif %}
          </dd>
          <dt>{% trans 'Importer name' %}</dt>
          <dd>{{ object.importer_name|default:"(not specified)" }}</dd>
        </dl>
      </div>
    </div>
    <div class="col">
      <div class="section-info">
        <div class="subtitle section-info__title">{% trans 'Extracted document metadata' %}</div>
        <table class="table">
          {% for k, v in object.extra_data.metadata.items %}
            {% if k != "raw_text" %}
              <tr>
                <th>{{ k }}</th>
                <td>{{ v }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

  <div class="section-info">
    {% if not object.is_incoming %}
      {% if current_org.is_chambers or current_org.is_trader %}
        <div style="float: right">
          <a href="{% url 'documents:consignment-update' object.pk %}" class="btn btn-sm btn-primary">{% trans 'Update' %}</a>
        </div>
      {% endif %}
    {% endif %}
    <h2 class="subtitle section-info__title">{% trans 'Consignment details' %}</h2>
    <dl class="info-list">
      <dt>{% trans 'Doc number' %}</dt>
      <dd>{{ object.consignment_ref_doc_number|default:"(not specified)" }}</dd>
      <dt>{% trans 'Doc type'  %}</dt>
      <dd>{{ object.consignment_ref_doc_type|default:"(not specified)" }}</dd>
      <dt>{% trans 'Doc issuer' %}</dt>
      <dd>{{ object.consignment_ref_doc_issuer|default:"(not specified)" }}</dd>
      {% if created_by_org %}
        <dt>{% trans 'Data provided by' %}</dt>
        <dd>{{ object.created_by_org }} ({{ object.created_by_org.get_type_display }})</dd>
      {% endif %}
    </dl>
  </div>

  {% if object.is_incoming %}
    {% if object.status == object.STATUS_FAILED %}
      <div class="alert alert-danger">{% trans 'This document has been received with an error; see the Logs page for details. It usually means the technical error, not the certificate one.' %}</div>
    {% endif %}
    {# render incoming document in a nice but quick way #}
    {% if object.intergov_details.oa_doc %}
    <div class="section-info">
    <div class="subtitle section-info__title">{% trans 'Raw incoming data' %}</div>
    <dl class="info-list">
      {% for key, value in object.intergov_details.oa_doc.items %}
        <dt>{{ key|capfirst }}</dt>
        <dd>
          {% if value.items %}
            <div style='background-color: whitesmoke;'>
            {% for subkey, subvalue in value.items %}
              <strong>{{ subkey }}</strong>: {{ subvalue }}<br/>
            {% endfor %}
            </div>
          {% else %}
            {{ value }}
          {% endif %}
        </dd>
      {% endfor %}
      </fieldset>
    {% endif %}
  {% endif %}

</div>
{% endblock content %}
