{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load our_utils %}

{% block title %}{% trans 'Review and issue' %} #{{ object.document_number }}{% endblock %}

{% block content %}
<div class="content-box">
  <h1 class="page-title">{% trans 'Review and issue' %} {{ object.document_number }}</h1>

  <div class="row">
    <div class="col">
      {% if data_warnings %}
        {% for title, message in data_warnings.items %}
          <div class="alert alert-warning">{{ title }}: {{ message }}</div>
        {% endfor %}
      {% endif %}

      <div class="section-info">
        <div class="subtitle section-info__title">{% trans 'Document data' %}</div>
        <dl class="info-list">
          <dt>{% trans 'Doc number' %}</dt>
          <dd>{{ object.document_number|default:"(not specified)" }}</dd>
          {% if object.fta %}
            <dt>{% trans 'FTA' %}</dt>
            <dd>{{ object.fta }}</dd>
          {% endif %}
          <dt>{% trans 'Exporting country' %}</dt>
          <dd>{{ object.sending_jurisdiction.name }}</dd>
          <dt>{% trans 'Importing country' %}</dt>
          <dd>{{ object.importing_country.name }}</dd>
          <dt>{% trans 'Exporter' %}</dt>
          <dd>
            {% trans 'Entity' %}: {{ object.exporter.name }}<br/>
            {% if object.exporter.register_url %}
              {{ object.exporter.readable_identifier_name }}: <a href="{{ object.exporter.register_url }}" target="_blank">{{ object.exporter.business_id }}</a>
            {% endif %}
          </dd>
          <dt>{% trans 'Importer name' %}</dt>
          <dd>{{ object.importer_name|default:"(not specified)" }}</dd>
        </dl>
      </div>
      <div class="section-info">
        <h2 class="subtitle section-info__title">{% trans 'Consignment details' %}</h2>
        <dl class="info-list">
          <dt>{% trans 'Number' %}</dt>
          <dd>{{ object.consignment_ref_doc_number|default:"(not specified)" }}</dd>
          {% if created_by_org %}
            <dt>{% trans 'Data provided by' %}</dt>
            <dd>{{ object.created_by_org }} ({{ object.created_by_org.get_type_display }})</dd>
          {% endif %}
        </dl>
      </div>
    </div>

    {% comment %}
      <div class="col">
        <div class="section-info">
          <div class="subtitle section-info__title">{% trans 'Extracted document metadata' %}</div>
          <table class="table">
            {% for k, v in object.extra_data.metadata.items %}
              {% if k != "raw_text" %}
                <tr>
                  <th>{{ k }}</th>
                  <td>{{ v }}</td>
                </tr>
              {% endif %}
            {% empty %}
              <tr>
                <th colspan="2">The metadata has not been extracted yet; try refreshing the page</th>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endcomment %}
  </div>

  {% if object.get_pdf_attachment %}
    <p>The data specified above must match the information in the PDF document below - click "Back" to edit if not.<br/>
    {% if object.get_pdf_attachment.is_watermarked is False %}
      Drag the QR code to a clear position on the document - the position will be remembered for this document type.
    {% else %}
      This file doesn't require adding a QR code manually.
    {% endif %}
    </p>

    {% if object.is_api_created %}
      <p>The document has been created from the API - please use the API to update it if needed.</p>
    {% endif %}

    <form action="#" method="POST">
      {% csrf_token %}
      {% if not object.is_api_created %}
        <a href="{% url 'documents:fill' object.pk %}" class="btn btn-secondary">Back</a>
      {% endif %}
      <button type="submit" name="issue" class="btn btn-primary">Issue</button>

      {% if object.get_pdf_attachment.is_watermarked is False %}
        <input type="hidden" name="qr_x" id="id_qr_x" value="{{ initial_qr_x_value|default:'2' }}" />
        <input type="hidden" name="qr_y" id="id_qr_y" value="{{ initial_qr_y_value|default:'3' }}" />
      {% endif %}
    </form>

    <br/><br/>

    <div id="id_qr_code_area">
      {% if object.get_pdf_attachment.is_watermarked is False %}
        <img class="igl-doc-qrcode__image"
          src="data:image/png;base64,{{ object.oa.get_qr_image_base64 }}" alt="{{ object.oa.url_repr }}" id="id_qr_code" />
      {% endif %}
      <img src="{% url 'documents:pdf-download' object.pk %}?inline=true&as_png=true&original=true"
           alt="Please wait the first page to appear..."
           id="id_base_image"
            />
    </div>
  {% else %}
    <p>There is no PDF file uploaded for that document; this usually means that the document
    has been created using the API and the process wasn't finished.</p>
  {% endif %}

</div>
{% endblock content %}


{% block extra_head %}
  {{ block.super }}
  <style>
    dl dd, dl dt {
      text-align: top;
    }
    /* 210 x 297 */
    div#id_qr_code_area {
      width: 210mm;
      height: 297mm;
      border: 1px solid black;
    }

    div#id_qr_code_area #id_qr_code {
      width: {{ QR_CODE_SIZE_MM }}mm;
      position: absolute;
      z-index: 9;
      cursor: move;
    }

    div#id_qr_code_area #id_base_image {
      width: 210mm;
      height: 297mm;
      border: 1px solid gray;
    }
  </style>
{% endblock %}

{% block extra_script %}
  {% if object.get_pdf_attachment.is_watermarked is False %}
  <script>
    // Make the DIV element draggable:
    var draggableParent = document.getElementById("id_base_image");
    dragElement(document.getElementById("id_qr_code"));

    function dragElement(elmnt) {
      var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;

      elmnt.onmousedown = dragMouseDown;

      var initialX = (
        draggableParent.getBoundingClientRect().width * (
          parseInt(document.getElementById("id_qr_x").value) / 100
        )
      );
      var initialY = (
        draggableParent.getBoundingClientRect().height * (
          parseInt(document.getElementById("id_qr_y").value) / 100
        )
      );

      elmnt.style.top = elmnt.offsetTop + initialY + "px";
      elmnt.style.left = elmnt.offsetLeft + initialX + "px";

      function dragMouseDown(e) {
        e = e || window.event;
        e.preventDefault();
        // get the mouse cursor position at startup:
        pos3 = e.clientX;
        pos4 = e.clientY;
        document.onmouseup = closeDragElement;
        // call a function whenever the cursor moves:
        document.onmousemove = elementDrag;
      }

      function elementDrag(e) {
        e = e || window.event;
        e.preventDefault();
        // calculate the new cursor position:
        pos1 = pos3 - e.clientX;
        pos2 = pos4 - e.clientY;
        pos3 = e.clientX;
        pos4 = e.clientY;
        // set the element's new position:
        elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
        elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
      }

      function closeDragElement() {

        var parentPos = document.getElementById('id_qr_code_area').getBoundingClientRect();
        var childPos = document.getElementById('id_qr_code').getBoundingClientRect();
        var imagePos = document.getElementById('id_base_image').getBoundingClientRect();

        var top = ((childPos.top - parentPos.top) / (parentPos.height / 100 )).toFixed(2);
        var left = ((childPos.left - parentPos.left) / (parentPos.width / 100)).toFixed(2);

        document.getElementById("id_qr_y").value = top;
        document.getElementById("id_qr_x").value = left;

        // stop moving when mouse button is released:
        document.onmouseup = null;
        document.onmousemove = null;
      }
    }
  </script>
  {% endif %}
{% endblock %}