{% extends "base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load render_table from django_tables2 %}

{% block title %}Documents{% endblock %}
{% block extra_head %}{% endblock %}

{% block content %}

<div class="items-list">
  <div class="content-box items-list__search">
    <form style="display: inline" method="GET">
    <div class="row justify-content-between items-list__search-row">
      <div class="col-md-6 items-list__search-form">
        <div class="input-group">
          <input type="text" class="form-control form-control-md" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q|default:'' }}">
          <div class="input-group-append">
            <button class="btn btn-md btn-primary btn-search" type="submit"><i class="icon icon-search"></i></button>
          </div>
        </div>
        <div class="desktop-advance-filter-btn">
          <a class="btn btn-md btn-link btn-advance-filter" type="button" data-toggle="collapse" href="#advancedFilter" role="button" aria-expanded="false" aria-controls="collapseExample">{% trans 'Advance filter' %}</a>
        </div>
      </div>
      <div class="col-md-6 items-list__action">
        {% if current_org.is_chambers %}
        <div class="dropdown">
          <button class="btn btn-md btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            + {% trans 'New Document' %}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for dtype, display_name in Document.TYPE_CHOICES %}
              <a class="dropdown-item" href="{% url 'documents:create' dtype %}">{{ display_name }}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="mobile-advance-filter-btn">
      <a class="btn btn-link btn-advance-filter" type="button" data-toggle="collapse" href="#advancedFilter" role="button" aria-expanded="false" aria-controls="collapseExample">{% trans 'Advance filter' %}</a>
    </div>
    <div class="advanced-filter collapse" id="advancedFilter">
      <div class="advanced-filter__title">{% trans 'Advanced filter' %}</div>
      <div class="advanced-filter__row">
        <div class="advanced-filter__col">
          <div class="form-group">
            <div class="input-group date">
              <input type="text" class="form-control" placeholder="Created after" name="created_after" value="{{ request.GET.created_after|default:'' }}">
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon icon-calendar"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="advanced-filter__col">
          <div class="form-group">
            <div class="input-group date">
              <input type="text" class="form-control" placeholder="Created before" name="created_before" value="{{ request.GET.created_before|default:'' }}">
              <div class="input-group-append">
                <span class="input-group-text"><i class="icon icon-calendar"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="advanced-filter__col">
          <div class="form-group">
            <select name="status_filter" class="form-control">
              <option value="" selected>{% trans 'Any status' %}</option>
              {% for item, title in Document.STATUS_CHOICES %}
                <option value="{{ item }}" {% if item == request.GET.status_filter %}selected{% endif %}>{{ title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="advanced-filter__col">
          <div class="form-group">
            <select name="type_filter" class="form-control">
              <option value="">{% trans 'Any doc type' %}</option>
              {% for item, title in Document.TYPE_CHOICES %}
                <option value="{{ item }}" {% if item == request.GET.type_filter %}selected{% endif %}>{{ title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="advanced-filter__row">
        <div class="advanced-filter__col">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Exporter" name="exporter_filter" value="{{ request.GET.exporter_filter|default:'' }}">
          </div>
        </div>
        <div class="advanced-filter__col">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Importer" name="importer_filter" value="{{ request.GET.importer_filter|default:'' }}">
          </div>
        </div>
      </div>
      <div class="advanced-filter__submit">
        <button class="btn btn-md btn-primary" type="submit">{% trans 'Save' %}</button>
      </div>
    </div>
    </form>
  </div>
  <div class="content-box items-list__table">
    <div class="table-responsive">
      {% render_table table %}
    </div>
  </div>
</div>
{% endblock content %}
