{% extends "base.html" %}

{% load static %}
{% load pagination_tags %}

{% block title %}Documents{% endblock %}

{% block content %}
<div class="documents-list">
  <div class="content-box documents-list__search">
    <div class="row justify-content-between">
      <div class="col-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-primary btn-search" type="button"><i class="icon icon-search"></i></button>
          </div>
          <div class="input-group-append">
            <button class="btn btn-link" type="button">Advance filter</button>
          </div>
        </div>
      </div>
      <div class="col-4 text-right">
        <a href="{% url 'documents:create' %}" class="btn btn-primary">+ New Document</a>
      </div>
    </div>
    </div>
  </div>

  <div class="content-box documents-list__table">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Document No.</th>
            <th>Status</th>
            <th>Trading Country</th>
            <th>Created Date</th>
            <th>Issuer</th>
            <th>Exporter</th>
            <th>Importer</th>
            <th>Consignment ref.</th>
            <th>IGID</th>
          </tr>
        </thead>
        {% autopaginate object_list 30 %}
        {% for doc in object_list %}
          <tr>
            <td>
              <a href="{% url 'documents:detail' doc.pk %}">
                {{ doc.document_number|default:doc.short_id }}
              </a>
              <div class="badge badge-pill badge-info">{{ doc.get_type_display }}</div>
            </td>
            <td>{{ doc.get_status_display }}</td>
            <td>{{ doc.importing_country.name }}</td>
            <td>{{ doc.created_at }}</td>
            <td>{{ doc.issuer }}</td>
            <td>
              {% if doc.exporter %}
                {{ doc.exporter }}
              {% else %}
                <a href="{% url 'documents:update' doc.pk %}">+ Add</a>
              {% endif %}
            </td>
            <td>
              {% if doc.importer_name %}
                {{ doc.importer_name }}
              {% else %}
                <a href="{% url 'documents:update' doc.pk %}">+ Add</a>
              {% endif %}
            </td>
            <td>
              {{ doc.consignment_ref }}
              {{ doc.invoice_number }}
            </td>
            <td>
              {# {{ doc.get_igid_text|default:"(not provided for draft)" }} #}
              {% with doc.get_igid_image_base64 as qrcode_image %}
                {% if qrcode_image %}
                  <span class="qr-btn" data-toggle="qr" data-qr="{{ doc.short_id }}">QRCode</span>
                  <div class="qr-code__content" id="{{ doc.short_id }}" style="display: none;">
                    <img class="qr-code__image" src="data:image/png;base64,{{ qrcode_image }}" alt="{{ doc.get_igid_text }}"/>
                  </div>
                {% endif %}
              {% endwith %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% paginate %}
  </div>
</div>
{% endblock content %}
