{% extends "base.html" %}

{% load static %}
{% load pagination_tags %}

{% block title %}Documents{% endblock %}

{% block content %}
<div class="documents-list">
  <div class="content-box documents-list__search">
    <div class="row justify-content-between">
      <div class="col-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary btn-search" type="button"><i class="icon icon-search"></i></button>
          </div>
          <div class="input-group-append">
            <button class="btn btn-link" type="button">Advance filter</button>
          </div>
        </div>
      </div>
      <div class="col-4 text-right">
        <a href="{% url 'documents:create' %}" class="btn btn-primary">+ New Document</a>
      </div>
    </div>
    </div>
  </div>

  <div class="content-box documents-list__table">
    <h1>Documents for {{ current_org }}</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Document Number</th>
            <th>Status</th>
            <th>Trading Country</th>
            <th>Created Date</th>
            <th>Issuer</th>
            <th>Exporter</th>
            <th>Importer</th>
            <th>Consignment ref.</th>
            <th>IGID</th>
          </tr>
        </thead>
        {% autopaginate object_list 10 %}
        {% for doc in object_list %}
          <tr>
            <td>
              <a href="{% url 'documents:detail' doc.pk %}">
                {{ doc.short_id }}
              </a>
            </td>
            <td>
              <div class="badge badge-pill badge-info">
                {{ doc.get_type_display }}
              </div>
            </td>
            <td>
              {{ doc.document_number }}
            </td>
            <td>{{ doc.get_status_display }}</td>
            <td>{{ doc.importing_country }}</td>
            <td>{{ doc.created_at }}</td>
            <td>{{ doc.issuer }}</td>
            <td>{{ doc.exporter }}</td>
            <td>{{ doc.importer }}</td>
            <td>{{ doc.consignment_ref }}</td>
            <td>TODO</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% paginate %}
  </div>
</div>
{% endblock content %}
