{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load our_utils %}

{% block title %}{% trans 'Logs for' %} #{{ object.document_number }}{% endblock %}

{% block content %}
<div class="content-box">
  <a href="../" style="float: right"  class="btn btn-primary btn-sm">{% trans 'Go back to the document' %}</a>

  <h1 class="page-title">{% trans 'Logs for' %} #{{ object.document_number }}</h1>

  <div class="section-info section-info--no-border">
    <div class="subtitle section-info__title">{% trans 'Document status history' %}</div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>{% trans 'Message' %}</th>
            <th>{% trans 'Details' %}</th>
            <th>{% trans 'Related Document' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for history_item in object.history.all %}
            <tr>
              <td>{{ history_item.message }}<br/>{{ history_item.created_at }}</td>
              <td>
                {% if history_item.object_body %}
                  <textarea style="font-size: 7pt; width: 200px; height: 100px;" readonly>{{ history_item.object_body|json_render }}</textarea>
                {% endif %}
              </td>
              <td>
                {% if history_item.related_file %}
                  <a href="{% url 'documents:history-file-download' object.id history_item.id %}" target="_new">{% trans 'Download' %}</a>
                {% endif %}
                {{ history_item.related_object|default:"" }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="section-info">
    <h3 class="subtitle section-info__title">{% trans 'Document' %}</h3>
    <textarea style="width: 100%; border: 0; height: 300px; font-size: 8pt" disabled>{{ object.get_rendered_edi3_document|json_render }}</textarea>
  </div>

  {% if object.nodemessage_set.all %}
    <div class="section-info">
      <h3 class="subtitle section-info__title">
      {% for nm in object.nodemessage_set.all %}
      {{ nm.get_status_display }}
      {% if nm.is_outbound %}{% trans 'outbound' %}{% else %}{% trans 'incoming' %}{%endif %}
      {% trans 'message' %} {{ nm.body.sender_ref }}</h3>
      <textarea style="width: 100%; border: 0px; height: 100px; font-size: 8pt" disabled>{{ nm.body|json_render }}</textarea>
      <small>{{ nm.history|join:", " }}</small>
      <hr/>
      {% endfor %}
    </div>
  {% endif %}

</div>
{% endblock content %}
