{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load our_utils %}

{% block title %}{% trans 'Logs for' %} #{{ object.document_number }}{% endblock %}

{% block content %}
<div class="content-box">
  <a href="../" style="float: right"  class="btn btn-primary btn-sm">{% trans 'Go back to the document' %}</a>

  <h1 class="page-title">{% trans 'Logs for' %} {% if object.is_incoming %}{% trans 'incoming' %}{% endif %} {{ object.get_type_display|default:"document" }} #{{ object.document_number|default:object.short_id }}</h1>

  <div class="section-info section-info--no-border">
    <div class="subtitle section-info__title">{% trans 'Document status history' %}</div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>{% trans 'Message' %}</th>
            <th>{% trans 'Details' %}</th>
            <th>{% trans 'Related Document' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for history_item in object.history.all %}
            <tr>
              <td style='max-width: 200px'>{{ history_item.message }}<br/>{{ history_item.created_at }}</td>
              <td>
                {% if history_item.object_body %}
                  <textarea style="font-size: 7pt; min-width: 300px; height: 100px;" readonly>{{ history_item.object_body|json_render }}</textarea>
                {% endif %}
              </td>
              <td>
                {% if history_item.related_file %}
                  <a href="{% url 'documents:history-file-download' object.id history_item.id %}" target="_new">{% trans 'Download' %}</a>
                {% endif %}
                {{ history_item.related_object|default:"" }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  {% with object.get_rendered_edi3_document as rendered_document %}
    {# some documents (like incoming but not downloaded) can't be rendered #}
    {% if rendered_document %}
      <div class="section-info">
      <h3 class="subtitle section-info__title">{% trans 'Document' %}</h3>
      <textarea style="width: 100%; border: 0; height: 300px; font-size: 8pt" disabled>{{ rendered_document|json_render }}</textarea>
      </div>
    {% endif %}
  {% endwith %}

  {% if object.nodemessage_set.all %}
    <div class="section-info">
      {% for nm in object.nodemessage_set.all %}
        <div class="row">
          <div class="col-lg-6">
            <strong>{{ nm.get_status_display }} message</strong><br/>
            {{ nm.body.sender_ref }}<br/>
            <small>{{ nm.history|join:", " }}</small>
          </div>
          <div class="col-lg-6">
            <textarea style="width: 100%; border: 0px; height: 100px; font-size: 8pt" disabled>{{ nm.body|json_render }}</textarea>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="section-info">
    {% if object.files.all %}
    <h2 class="subtitle section-info__title">{% trans 'Attachments' %}</h2>
    <form action="#" method="POST" onSubmit="return confirm('Are you sure?')">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'File and author' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for doc in object.files.all %}
            <tr>
              <td>
                <small>{{ doc.extension }}</small>
              </td>
              <td title="{{ doc.filename }}">
                {% if doc.is_upstream %}
                <span class="oi oi-eye" style="font-size: 1em" title="{% trans 'The document will be sent to remote party' %}"></span>
                {% endif %}
                <a href="{% url 'documents:file-download' object.id doc.id %}">
                  {{ doc.short_filename }}
                </a>
                <div class="document-info">
                  {{ doc.created_at }} by
                  <span class="document-owner">{{ doc.created_by|default:"system" }}</span>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </form>
    {% endif %}
  </div>

</div>
{% endblock content %}
