{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update #{{ form.instance.short_id }}{% endblock %}

{% block content %}
<div class="content-box">
  <h1>Update #{{ form.instance.short_id }}</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    {{ form|crispy }}

    {% comment %}
      for per-field basis:
      <div class="row">
        <div class="col-col-md-6 col-md-6">
          {{ form.item_no|as_crispy_field }}
        </div>
        ...
    {% endcomment %}

    <div class="mt-5">
      <a class="btn btn-default ml-3" href="../">Cancel</a>

      <button type="submit" class="btn btn-primary">Save</button>
    </div>
    <br/>
  </form>
</div>
{% endblock content %}

{% block extra_script %}
  <script>
    $("#id_fta").change(function() {
      var protocol = $( "#id_fta option:selected" ).text();
      $("#id_importing_country option").each(function() {
        var $sel = $(this);
        if ($sel.text().indexOf(protocol) !== -1) {
          $sel.show();
        } else {
          $sel.hide();
        }
      });
      $("#id_importing_country").prop('selectedIndex', -1);
    });
  </script>
{% endblock %}
