version: '3.5'

networks:
  internal:
    driver: bridge
    name: ${COMPOSE_PROJECT_NAME}-internal

  igl-local-network:
    # a network used for local development to allow components across the separate repos and docker compose files to communicate
    driver: bridge
    external: true

volumes:
  # named volumes are needed because permissions don't work on Windows
  # otherwise, which breaks PostgreSQL. COMPOSE_PROJECT_NAME is automatically
  # prefixed to the volume name by docker-compose
  postgresql_data:


services:
  django: &django
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: trade_portal_django
    container_name: ${COMPOSE_PROJECT_NAME}-trade-portal-django
    depends_on:
      - postgres
      - minio
      - redis
    volumes:
      - .:/app
    env_file:
      - devops/localdocker/common.env
      - devops/localdocker/local.env
    ports:
      - "8050:8050"
    command: /start
    restart: on-failure
    networks:
      - internal
      - igl-local-network

  # needed only for local development - because on Linux you can't
  # access the host container in any other reliable way
  # And things like OA API are usually started separately
  docker-host:
    image: qoomon/docker-host
    cap_add: [ 'NET_ADMIN', 'NET_RAW' ]
    restart: on-failure
    networks:
      - internal

  postgres:
    image: postgres:11.3-alpine
    logging:
      driver: none
    environment:
      # should be the same values as common.env has
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=
    restart: on-failure
    networks:
      - internal
      - igl-local-network
    volumes:
      - postgresql_data:/var/lib/postgresql/data

  redis:
    image: redis:5.0
    restart: on-failure
    logging:
      driver: none
    networks:
      - internal

  celeryworker:
    <<: *django
    image: trade_portal_django
    container_name: ${COMPOSE_PROJECT_NAME}-trade-portal-celeryworker
    depends_on:
      - redis
      - postgres
      - minio
    ports: []
    command: /start-celeryworker
    restart: on-failure

  celerybeat:
    <<: *django
    image: trade_portal_django
    container_name: ${COMPOSE_PROJECT_NAME}-trade-portal-celerybeat
    depends_on:
      - redis
      - postgres
      - minio
    ports: []
    command: /start-celerybeat
    restart: on-failure

  # flower:
  #   <<: *django
  #   image: trade_portal_flower
  #   ports:
  #     - "5555:5555"
  #   command: /start-flower
  #   logging:
  #     driver: none

  minio:
    # https://docs.min.io/docs/minio-docker-quickstart-guide.html
    image: minio/minio
    entrypoint: sh
    command: -c 'mkdir -p /minio-data/storage && /usr/bin/minio server /minio-data'
    environment:
      # should be the same values as common.env refers
      - MINIO_ACCESS_KEY=minidemoaccess
      - MINIO_SECRET_KEY=miniodemosecret
      # - MINIO_HTTP_TRACE=/minio-data/requests.log
    restart: on-failure
    volumes:
      - ./var/${COMPOSE_PROJECT_NAME}-minio-data:/minio-data
    logging:
      driver: none
    networks:
      - internal
      - igl-local-network
