.header {
  width: 100%;
  padding: 0 $mobile-padding;

  @include media-breakpoint-up(md) {
    padding: 24px $mobile-padding;
  }

  .authenticated &{
    background: $white-color;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
    border: 1px solid $grey-color;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(md) {
    background: $white-color;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;

    &--dark {
      background: #145988;
    }
  }

  &__container{
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);
    max-width: $site-max-width;
    padding: 0;
    margin: 0 auto;

    .authenticated &{

      @include media-breakpoint-down(md) {
        height: 90px;
      }
    }
  }

  &__logo {
    @include flexbox();
    @include align-items(center);

    &:hover{
      text-decoration: none;
    }

    &-image {
      max-height: 49px;

      @include media-breakpoint-up(md) {
        max-height: 61px;
      }

      &--white{
        display: none;

        .header--dark &{
          display: block;
        }
        .authenticated & {
          display: none;
        }
      }
      &--default{
        .header--dark &{
          display: none;
        }
        .authenticated & {
          display: block;
        }
      }
    }

    &-text {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
        border-left: 1px solid $blue-color;
        margin: 5px 0 0 24px;
        padding: 3px 0 3px 17px;
        font-weight: $font-weight-bold;
        font-family: $second-font-family;
        color: $blue-color;
        font-size: 17px;

        .header--dark &{
          border-color: rgba($white-color, 0.2);
          color: $white-color;
        }

        .authenticated & {
          border-color: $blue-color;
          color: $blue-color;
        }
      }
    }
  }

  &__nav {
    &-actions {
      @include flexbox();
      @include align-items(center);
    }

    &-btn {
      display: none;
      background-color: $dark-blue-color;
      color: $white-color;

      &:hover{

      }

      @include media-breakpoint-up(md) {
        display: block;
        margin: 0 11px 0 0;
        font-size: 14px;
        line-height: 48px;
        padding: 0;
        width: 137px;
        height: 48px;
      }

      &--mygovid{
        background-image: url("../images/mygovid-logo.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 77px 27px;
        text-indent: -99999px;
      }
    }

  }

  &__menu {
    &-toggler {
      height: 36px;
      font-size: 23px;
      line-height: 36px;
      border: 0;
      margin: 0 -9px 0 0;
      background: none;
      padding: 5px 9px 0 9px;

      @include media-breakpoint-up(md) {
        height: 48px;
        font-size: 30px;
        line-height: 48px;
        padding: 5px 9px 0 9px;
      }

      @include media-breakpoint-down(md) {
        .header--dark & {
          color: $white-color;
        }
      }
    }
  }

  &__account-nav{
    width: 100%;
    border-top: 1px solid $grey-color;
    margin: 25px auto 0 auto;
    max-width: $site-max-width;
    padding: 0;


    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__user{
    text-align: right;
    padding: 2px 1rem 0 0;
    font-size: 0.875rem;
    line-height: 16px;

    &-name{
      font-weight: $font-weight-bold;
    }
  }
}

.site-nav {
  position: fixed;
  right: 0;
  top: 0;
  background: $white-color;
  z-index: 100;
  transform: translate(100%, 0);
  transition: transform .3s ease, opacity .3s ease;
  width: 100%;
  height: 100vh;

  @include media-breakpoint-up(md) {
    max-width: 400px;
  }

  &.show {
    transform: translate(0, 0);
    opacity: 1;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($black-color, 0.7);
    z-index: 99;
    display: none;

    &.active {
      display: block;
    }
  }

  &__close {
    border: 0;
    background: 0;
    font-size: 30px;
    padding: 9px;
  }

  &__header {
    text-align: right;
    padding: $mobile-padding;
  }

  &__list {
    list-style: none;
    margin: 0;
    text-align: center;
  }

  &__item {
    &-link {
      display: block;
      font-size: 24px;
      padding: 10px 0;
      text-decoration: none;
      color: $primary-color;
      font-weight: $font-weight-bold;
      transition: all 0.3 ease;

      &:hover {
        text-decoration: none;
        background: $primary-color;
        color: $white-color;
      }
    }
  }

  &__org{
    padding: $mobile-padding;
  }
}

.account-nav{
  &__container{
    @include flexbox();
    @include justify-content(space-between);
  }

  &__list{
    @include flexbox();
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item{
    margin: 0 0 0 40px;

    &:first-child{
      margin-left: 0;
    }

    &-link{
      color: $black-color;
      font-size: 14px;
      line-height: 22px;
      display: block;
      padding: 14px 10px 22px 10px;
      border-bottom: 4px solid transparent;

      &.active{
        font-weight: $font-weight-bold;
        color: $dark-blue-color;
        border-color: $dark-blue-color;
      }
    }
  }


}
