$icomoon-font-family: "traded-icons" !default;
$icomoon-font-path: "../fonts" !default;

$icon-arrow-forward: "\e900";
$icon-assignment: "\e901";
$icon-calendar: "\e902";
$icon-check: "\e903";
$icon-chevron-right: "\e904";
$icon-close: "\e905";
$icon-import-export: "\e906";
$icon-info: "\e907";
$icon-mail: "\e908";
$icon-menu: "\e909";
$icon-pdf: "\e90a";
$icon-refresh: "\e90b";
$icon-search: "\e90c";
$icon-verified: "\e90d";
$icon-vpn: "\e90e";
$icon-word: "\e90f";
$icon-copy: "\e910";
$icon-print: "\e911";

$icon-font: "traded-icons";

@font-face {
	font-family: '#{$icomoon-font-family}';
	src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?enc739');
	src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?enc739#iefix') format('embedded-opentype'),
	url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?enc739') format('truetype'),
	url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?enc739') format('woff'),
	url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?enc739##{$icomoon-font-family}') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.icon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: '#{$icomoon-font-family}' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-forward {
	&:before {
		content: $icon-arrow-forward;
	}
}
.icon-assignment {
	&:before {
		content: $icon-assignment;
	}
}
.icon-calendar {
	&:before {
		content: $icon-calendar;
	}
}
.icon-check {
	&:before {
		content: $icon-check;
	}
}
.icon-chevron-right {
	&:before {
		content: $icon-chevron-right;
	}
}
.icon-close {
	&:before {
		content: $icon-close;
	}
}
.icon-import-export {
	&:before {
		content: $icon-import-export;
	}
}
.icon-info {
	&:before {
		content: $icon-info;
	}
}
.icon-mail {
	&:before {
		content: $icon-mail;
	}
}
.icon-menu {
	&:before {
		content: $icon-menu;
	}
}
.icon-pdf {
	&:before {
		content: $icon-pdf;
	}
}
.icon-refresh {
	&:before {
		content: $icon-refresh;
	}
}
.icon-search {
	&:before {
		content: $icon-search;
	}
}
.icon-verified {
	&:before {
		content: $icon-verified;
	}
}
.icon-vpn {
	&:before {
		content: $icon-vpn;
	}
}
.icon-word {
	&:before {
		content: $icon-word;
	}
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-print {
	&:before {
		content: $icon-print;
	}
}