$base-font-family: 'Arial', sans-serif;
$second-font-family: 'Helvetica', sans-serif;

$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$base-radius: 4px;

//Colors:
$site-bg: #fafafd;
$dark-blue-color: #014b7e;
$light-blue-color: #45c2f0;
$blue-color: #003a63;
$blue-green-color: #135e70;
$primary-color: #061b36;
$white-color: #fff;
$black-color: #121212;
$secondary-black-color: #223140;
$grey-color: #ebebeb;
$grey40-color: #666;
$light-grey-color: #f5f5f5;
$dark-grey-color: #d0d0d0;

$border-color: #dadada;

$verification-color: #edca72;
$transfer-color: #b74d94;
$logistics-color: $light-blue-color;
$regulators-color: #3196ae;

$site-max-width: 1200px;
$header-max-width: 1700px;

$mobile-xs: 480px;
$mobile-md: 560px;
$tablet-md: 768px;
$desktop-sm: 1024px;
$desktop-lg: 1366px;
$desktop-xl: 1440px;

$base-padding: 45px;
$mobile-padding: 22px;

$body-color: $primary-color;


//Bootstrap variables:
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1230px
) !default;


$blue: $dark-blue-color;

$input-font-size:   0.875rem;
$input-line-height: 1.5;

$btn-font-weight: $font-weight-bold;

$input-btn-padding-y:         0.75rem;
$input-btn-padding-x:         1rem;

$input-height: 3.125rem;

$input-btn-padding-y-lg:      1rem;
$input-btn-font-size-lg:      17px;
$input-btn-line-height-lg:    1.75;

$label-margin-bottom: 10px;

$border-radius-lg: 0.25em;

$table-cell-padding: 0.625rem 0.375rem