{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add a party{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}
<div class="content-box">
  <h1 class="page-title">Add a party</h1>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    <fieldset class="form-section form-section--first">
      <div class="form-section__container">
        {{ form|crispy }}
      </div>
    </fieldset>

    <div class="form-actions">
      <a class="btn btn-outline-white" href="../">Cancel</a>
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</div>
{% endblock content %}

{% block extra_script %}
  <script>
    $("#id_business_id").keyup(function() {
      let val = $("#id_business_id").val();
      if (val.length == 11) {
        // could be full ABN entered
        let hint = $("#hint_id_business_id");
        hint.innerHTML = "Loading ABN info...";
        $.ajax({
          dataType: "json",
          url: '/documents/api/abn-lookup/?abn=' + val,
          data: null,
          success: function(resp) {
            hint.html(resp.snippet);
            $("#id_name").val(resp.EntityName);
          }
        });
      }
    });
  </script>
{% endblock %}
