{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load our_utils %}
{% load static %}

{% block title %}Party {{ object }}{% endblock %}

{% block content %}
<div class="content-box">
  <h1>Party {{ object }}</h1>

  <div class="section-info">
    <dl class="info-list">
      <dt>ID</dt>
      <dd>{{ object.pk }}</dd>
      <dt>Type</dt>
      <dd>{{ object.get_type_display }}</dd>
      <dt>Name</dt>
      <dd>{{ object.name|default:"(empty)" }}</dd>
      <dt>Business ID (ABN)</dt>
      <dd>{{ object.business_id|default:"(empty)" }}</dd>
      <dt>Country</dt>
      <dd>{{ object.country.name|default:"(empty)" }}</dd>
      <dt>Created by</dt>
      <dd>
        <strong>{{ object.created_by_user.email|default:object.created_by_user }}</strong> user<br/>
        at <strong>{{ object.created_by_org }}</strong>
      </dd>
    </dl>
  </div>
</div>
{% endblock content %}
