{% extends "base.html" %}

{% load static %}
{% load pagination_tags %}

{% block title %}Parties{% endblock %}

{% block content %}
  <h1>Parties for {{ current_org }}</h1>

  <div class="float-right">
    <a href="{% url 'documents:party-create' %}" class="btn btn-primary btn-sm">+ Add a party</a>
  </div>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Business ID</th>
      <th>Name</th>
      <th>Country</th>
    </tr>
    {% autopaginate object_list 10 %}
    {% for pty in object_list %}
      <tr>
        <td>
          <a href="{% url 'documents:party-detail' pty.pk %}">
            {{ pty.pk }}
          </a>
        </td>
        <td>
          <div class="badge badge-pill badge-info">
            {{ pty.get_type_display }}
          </div>
        </td>
        <td>
          {{ pty.business_id }}
        </td>
        <td>{{ pty.name }}</td>
        <td>{{ pty.country }}</td>
      </tr>
    {% endfor %}
  </table>
  {% paginate %}
</div>
{% endblock content %}
