.btn-primary-light {
  @include button-variant($light-blue-color, $light-blue-color);
  color: $white-color;
}

.btn-white {
  @include button-variant($white-color, $white-color);
  color: $dark-blue-color;

  &:hover,
  &:focus {
    color: $dark-blue-color;
  }
}

.btn-outline-white {
  @include button-outline-variant($border-color, $border-color);
  color: $dark-blue-color;

  &:hover,
  &:focus {
    color: $dark-blue-color;
  }
}

.btn-dark {
  @include button-variant(#4F5256, #4F5256);
  color: $white-color;
}
