.btn-primary-light {
  @include button-variant($light-blue-color, $light-blue-color);
  color: $white-color;
}

.btn-sm{
  font-weight: $font-weight-regular;
}

.btn-md{
  @include button-size(0.5rem, 2.5rem, 14px, 1.5rem, $border-radius);
}

.btn-white {
  @include button-variant($white-color, $white-color);
  color: $dark-blue-color;

  &:hover,
  &:focus {
    color: $dark-blue-color;
  }
}

.btn-outline-white {
  @include button-outline-variant($border-color, $border-color);
  color: $dark-blue-color;

  &:hover,
  &:focus {
    background: $dark-blue-color;
    border-color: $dark-blue-color;
    color: $white-color;
  }
}

.btn-dark {
  @include button-variant(#4F5256, #4F5256);
  color: $white-color;
}
