.form-control {
  &[type=email] {
    background-image: url("../images/icons/email.svg");
    background-repeat: no-repeat;
    background-position: right 16px top 50%;
    background-size: 17px 14px;
  }

  &-md {
    height: 42px;
    padding: $input-padding-y-sm $input-padding-x-sm;
    @include font-size($input-font-size-sm);
    line-height: $input-line-height-sm;
    @include border-radius($input-border-radius-sm);
  }

}

.form-check {
  padding: 0;
  overflow: hidden;

  &-input {

    &:checked + .form-check-label {
      color: $primary-color;

      &:before {
        border-color: $dark-blue-color;
        background: $dark-blue-color;
        content: '\2713';
        color: $white-color;
        text-align: center;
      }
    }

    &:focus + .form-check-label {

    }
  }

  &-label {
    display: inline-block;
    padding: 0 0 0 41px;
    font-size: 14px;
    color: $primary-color;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: $white-color;
      border: 1px solid $dark-blue-color;
      border-radius: 2px;
      width: 24px;
      height: 24px;
    }
  }
}

.form-section {
  border-top: 1px solid $border-color;
  margin: 0 0 24px 0;
  padding: 24px 0 0 0;

  &--first {
    border-top: 0;
    padding-top: 0;
  }

  &__container {
    max-width: 476px;
  }

  &__title {
    margin: 0 0 20px 0;
  }

  .form-group {
    label,
    .label {
      font-weight: $font-weight-bold;
      color: $primary-color;
      font-size: 17px;
      line-height: 21px;
      letter-spacing: 0;
      font-family: $second-font-family;
      margin-bottom: $label-margin-bottom;;
    }
  }
}

.form-group {
  .help-icon {
    color: $dark-grey-color;
    font-size: 18px;
  }
}

.form-actions {
  margin: 3rem 0 0 0;

  &--bordered{
    border-top: 1px solid $border-color;
    padding: 2.875rem 0 0 0;
  }

  @include media-breakpoint-down(md){
    margin-top: 1rem;

    &--bordered{
      border-top: 0;
      padding-top: 0;
    }

  }

  .btn {
    min-width: 162px;
    width: 100%;
    font-size: 14px;
    height: 50px;

    & + .btn {
      margin: 10px 0 0 0;

      @include media-breakpoint-up(sm) {
        margin: 0 0 0 3px;
      }
    }

    @include media-breakpoint-up(sm) {
      width: auto;
    }
  }
}
