.form-control{


  &[type=email]{
    background-image: url("../images/icons/email.svg");
    background-repeat: no-repeat;
    background-position: right 16px top 50%;
    background-size: 17px 14px;
  }
}
