.pagination{
  margin: 11px 0 0 0;
  @include flex-wrap(wrap);

  .page-item{
    margin: 5px 10px 5px 0;

    &:last-child-child{
      margin-right: 0;
    }
  }

  .page-link{
    padding: 0;
    display: block;
    width: 40px;
    height: 40px;
    color: $primary-color;
    font-size: 12px;
    line-height: 40px;
    border: 1px solid $border-color;
    text-align: center;
    border-radius: 4px;

    &:hover{
      text-decoration: none;
      background: $dark-blue-color;
      border-color: $dark-blue-color;
      color: $white-color;
    }

    &--prev,
    &--next{
      font-size: 16px;
    }
  }

}
