.table{
  font-size: 12px;
  border-bottom: 1px solid $border-color;

  thead th {
    color: $grey40-color;
    text-transform: uppercase;
    white-space: nowrap;
    border-bottom-width: 1px;
    border-top: 0;
  }
}
