{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'users:detail' %}">My Profile</a></li>
<li class="breadcrumb-item active" aria-current="page">Change Password</li>
{% endblock %}

{% block inner %}
  <h1>{% trans "Change Password" %}</h1>

  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </div>
  </form>
{% endblock %}
