{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block body_class %}authorise authorise-signup{% endblock %}
{% block main-container %}authorise__container{% endblock %}

{% block content %}
<div class="authorise__col authorise-form">
  <div class="authorise-form__container">
    <h1 class="authorise-form__title">{% trans "Sign up" %}</h1>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
        <a href="{% url 'oidc_authentication_init' %}" class="btn btn-dark btn-signin-mygovid">{% trans "Sign Up" %}</a>
      </div>
    </form>
  </div>
</div>

<div class="authorise__col authorise-text">
  <div class="authorise-text__container">
    <h2 class="authorise-text__title">{% trans "Already have an account?" %}</h2>
    <p class="authorise-text__description">Please use your real name and working email.</p>
    <a href="{{ login_url }}" class="btn btn-lg btn-white authorise-text__btn">{% trans "Sign in" %}</a>
  </div>
</div>
{% endblock %}
