{% load our_utils %}

{# First part - coloured badge #}
<div class="col">
  <div style="float: right; text-align: right;">
    {% if verification_result.status == "valid" %}
      <button type="button" role="button" class="btn btn-primary btn-sm" onClick="window.openAttestation.print()">Print</button>
    {% endif %}
    <a href="./" class="btn btn-primary btn-sm" >Validate another</a>
  </div>

  {% if verification_result.status == "valid" %}
    <h2><span class="badge badge-success">Valid</span></h2>
    <h4>Issued by: {{ verification_result.verify_result_rotated.OpenAttestationDnsTxt.data.0.location|default:verification_result.verify_result_rotated.OpenAttestationDnsTxtIdentityProof.data.0.location }}</h4>

    {% comment %}
      although these checks look like hardcoded
      the verification_result.status just not valid if at least one of them fail
      so it's pointless to read them from verification_result.verify_result
    {% endcomment %}
    <em><i class="icon icon-info" style="color: green"></i> Document has not been tampered with</em><br/>
    <em><i class="icon icon-info" style="color: green"></i> Document has been issued</em><br/>
    <em><i class="icon icon-info" style="color: green"></i> Document issuer has been identified (see Logs tab)</em>
  {% else %}
    {% if verification_result.status == "invalid" %}
      <h2><span class="badge badge-danger">Invalid</span></h2>
      <h4>The document hasn't been verified yet, or some verification aspects are invalid or document has been tampered with</h4>
      {% for key, value in verification_result.verify_result_rotated.items %}
        {% if value.status == "INVALID" %}{{ key }} {% endif %}
      {% endfor %}
    {% else %}
      {# error #}
      <h2><span class="badge badge-warning">Error</span></h2>
      <h4>{{ verification_result.error_message }}.</h4>
    {% endif %}
  {% endif %}

  {% if verification_result.status != "error" %}
    {# display details only for files which are either valid or invalid so at least parseable #}

    <ul class="nav nav-tabs" id="oa-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="id-verify-tab" data-toggle="tab" href="#id-verify-tab-content" role="tab" aria-controls="id-verify-tab-content" aria-selected="true">Verify</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="id-pdf-tab" data-toggle="tab" href="#id-pdf-tab-content" role="tab" aria-controls="id-pdf-tab-content" aria-selected="false">Downloads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="id-status-tab" data-toggle="tab" href="#id-status-tab-content" role="tab" aria-controls="id-status-tab-content" aria-selected="true">Logs</a>
      </li>
    </ul>
    <div class="tab-content" id="oa-tabs-content">
      <div class="tab-pane fade show active" id="id-verify-tab-content" role="tabpanel" aria-labelledby="id-verify-tab">
        {% if verification_result.status == "valid" %}
          <div id="id-oa-rendered-doc-container">Please wait while the document is rendered...</div>
        {% else %}
          We display such details only for valid documents.
        {% endif %}
      </div>
      <div class="tab-pane fade" id="id-pdf-tab-content" role="tabpanel" aria-labelledby="id-pdf-tab">
        {% if verification_result.status == "valid" %}
          {% for attach in verification_result.attachments %}
            <a href="data:{{ attach.type }};base64,{{ attach.data }}" class="btn btn-primary" download>{{ attach.filename }} ({{ attach.type }})</a><br/><br/>
          {% endfor %}
          <a href="data:application/json;base64,{{ verification_result.oa_base64 }}" class="btn btn-primary" download>OA file</a><br/><br/>
        {% else %}
          We display attachments only for valid documents.
        {% endif %}
      </div>

      <div class="tab-pane fade" id="id-status-tab-content" role="tabpanel" aria-labelledby="id-status-tab">
        <table class="table">
          {% for criteria in verification_result.verify_result %}
            <tr>
              <td>
                {{ criteria.name }}<br/>
                <small>{{ criteria.type }}</small>
              </td>
              <td>
                {% if criteria.status|lower == "valid" %}
                  <span class="badge badge-success">Valid</span>
                {% else %}
                  {% if criteria.status|lower == "invalid" %}
                    <span class="badge badge-danger">Invalid</span>
                  {% else %}
                    {% if criteria.status|lower == "error" %}
                      <span class="badge badge-danger">Error</span>
                    {% else %}
                      <span class="badge badge-default">{{ criteria.status }}</span>
                    {% endif %}
                  {% endif %}
                {% endif %}
                <br/>
                <small>{{ criteria.reason.message }}</small>
              </td>
              <td><pre>{{ criteria.data|json_render }}</pre></td>
            </tr>
          {% endfor %}
        </table>
      </div>

    </div>
  {% endif %}
</div>
