{% extends "base.html" %}

{% load static %}
{% load our_utils %}

{% block body_class %}about{% endblock %}
{% block head_title %}Verify{% endblock %}

{% block extra_head %}
  <style>
    #qr-code-canvas {
      width: 400px; height: 300px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="content-box profile">
    <div class="row">
      {% if verification_result %}
        {% include "oa_verify/document_provided.html" %}
      {% else %}
        {% include "oa_verify/verify_form.html" %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block extra_script %}

  {% if verification_result %}
    {# #}
  {% else %}
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.3.1/dist/jsQR.min.js"></script>
    <script>
      function initQrReader() {
        var video = document.createElement("video");
        var canvasElement = document.getElementById("qr-code-canvas");
        var canvas = canvasElement.getContext("2d");
        var loadingMessage = document.getElementById("qr-code-loadingMessage");
        var outputContainer = document.getElementById("qr-code-output");
        var outputMessage = document.getElementById("qr-code-outputMessage");
        var outputData = document.getElementById("qr-code-outputData");

        $("#id-left-verify-column").hide();

        function drawLine(begin, end, color) {
          canvas.beginPath();
          canvas.moveTo(begin.x, begin.y);
          canvas.lineTo(end.x, end.y);
          canvas.lineWidth = 4;
          canvas.strokeStyle = color;
          canvas.stroke();
        }

        // Use facingMode: environment to attemt to get the front camera on phones
        navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function(stream) {
          video.srcObject = stream;
          video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
          video.play();
          requestAnimationFrame(tick);
        });

        function tick() {
          loadingMessage.innerText = "⌛ Loading video..."
          if (video.readyState === video.HAVE_ENOUGH_DATA) {
            loadingMessage.hidden = true;
            canvasElement.hidden = false;
            outputContainer.hidden = false;

            canvasElement.height = video.videoHeight;
            canvasElement.width = video.videoWidth;
            canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
            var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
            var code = jsQR(imageData.data, imageData.width, imageData.height, {
              inversionAttempts: "dontInvert",
            });
            if (code) {
              drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FF3B58");
              drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FF3B58");
              drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FF3B58");
              drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FF3B58");
              outputMessage.hidden = true;
              outputData.parentElement.hidden = false;
              outputData.innerText = code.data;
              processQrCodeRead(code.data);
            } else {
              outputMessage.hidden = false;
              outputData.parentElement.hidden = true;
            }
          }
          requestAnimationFrame(tick);
        }

        function processQrCodeRead(value) {
          console.log(value);
          if (value.startsWith("https://action.openattestation.com/?q=") ||
              value.startsWith("tradetrust://")
             ) {
            // seems to be our QR code
            $("#id-qrcode-submit-form-qr-field").val(value);
            $("#id-qrcode-submit-form").submit();
            $("#qr-reader-container").text("Please wait while we are submitting your code. It usually takes some time because the document must be downloaded, parsed, validated and attachments extracted from it.");
            video.srcObject.getTracks().forEach(function(track) {
              track.stop();
            });
          }
        }
      } // end initQrReader
    </script>
  {% endif %}
{% endblock %}