{% extends "base.html" %}

{% load i18n %}

{% block body_class %}homepage{% endblock %}
{% block header_class %}{% endblock %}
{% block main-container %}main-container{% endblock %}

{% block content %}
<div class="home-content">
  <div class="news home-content__news">
    <div class="news-item">
      <div class="news-item__title"><a href="{% url 'documents:list' %}" class="news-item__title-link"><span class="news-item__title-text">{% trans 'Start using the portal' %}</span></a></div>
      <div class="news-item__description">{% blocktrans %}The portal is an easily accessible single touch point to digitally authenticate trade documents.{% endblocktrans %}</div>
    </div>
    <div class="news-item">
      <div class="news-item__title"><a href="/help/api/" class="news-item__title-link"><span class="news-item__title-text">{% trans 'Australia - Singapore Live-beta trial.' %}</span></a></div>
      <div class="news-item__description">{% blocktrans %}From 23 November to 11 December, ABF is collaborating with Singapore Customs and Infocomm Media Development Authority to trial the IGL platform using Certificates of Origin. The trial will test IGL’s digital verification capability, and whether the Singapore Government and its financial sector would trust IGL-authenticated e-certificates.{% endblocktrans %}</div>
    </div>
  </div>
  <div class="hero-box home-content__hero">
    <h1 class="hero-box__title">{% trans BRANDING_TITLE %}</h1>
    <p class="hero-box__description">{% blocktrans %}The Intergovernmental Ledger (IGL) is a verifiable credentials platform that supports the digitisation of cross-border trade. Trade documents such as Certificate of Origin and others that are currently paper-based can be digitised and digitally verified for its authenticity.{% endblocktrans %}</p>
    {% if request.user.is_authenticated %}
    <a href="{% url 'documents:list' %}" class="btn btn-light hero-box__action">{% trans 'My Documents' %}</a>
    {% endif %}
    <a href="/v/" class="btn btn-light hero-box__action">{% trans 'Verify a Document' %}</a>
  </div>
</div>
<div class="usp-box">
  <div class="usp-item usp-verification">
    <div class="usp-item__action"><br/><!-- <a class="usp-item__action-link" href="#"><i class="icon icon-arrow-forward"></i></a> --></div>
    <div class="usp-item__icon"><i class="icon icon-verified"></i></div>
    <div class="usp-item__title">{% trans 'Authorised Bodies' %}</div>
    <div class="usp-item__description">{% blocktrans %}Enhance your documents with digital verification and receive confirmation of validity from the importing regulator.{% endblocktrans %}</div>
  </div>

  <div class="usp-item usp-transfer">
    <div class="usp-item__action"><br/><!-- <a class="usp-item__action-link" href="#"><i class="icon icon-arrow-forward"></i></a> --></div>
    <div class="usp-item__icon"><i class="icon icon-import-export"></i></div>
    <div class="usp-item__title">{% trans 'Exporters/Importers' %}</div>
    <div class="usp-item__description">{% blocktrans %}Improve efficiency and reduce non-compliance risks through increased visibility and end-to-end digitisation and trust.{% endblocktrans %}</div>
  </div>

  <div class="usp-item usp-logistics">
    <div class="usp-item__action"><br/><!-- <a class="usp-item__action-link" href="#"><i class="icon icon-arrow-forward"></i></a> --></div>
    <div class="usp-item__icon"><i class="icon icon-assignment"></i></div>
    <div class="usp-item__title">{% trans 'Logistics Providers' %}</div>
    <div class="usp-item__description">{% blocktrans %}Attach your consignment references to certificates and other documents for automated matching and processing by importing regulators.{% endblocktrans %}</div>
  </div>

  <div class="usp-item usp-regulators">
    <div class="usp-item__action"><br/><!-- <a class="usp-item__action-link" href="#"><i class="icon icon-arrow-forward"></i></a> --></div>
    <div class="usp-item__icon"><i class="icon icon-vpn"></i></div>
    <div class="usp-item__title">{% trans 'Regulators' %}</div>
    <div class="usp-item__description">{% blocktrans %}Improve trade facilitation and compliance outcomes through trusted digital data exchange with your international counterparties.{% endblocktrans %}</div>
  </div>
</div>
{% endblock %}
